.backg{
  // --background: linear-gradient(180deg, #a2afb4, #2c3232);
  --background: linear-gradient(180deg, #101010, #386262);
}
.icon{
  width: 130px;
  height: 130px;
  // background: white;
  color: aliceblue;
}
// ion-button p{
//   color: #386262;
// }
