<!-- <ion-header>
  <ion-toolbar style="--background: #0b0b0b;">
    <ion-title style="color:rgb(254, 254, 0) ;" class="label">กรุณาเข้าสู่ระบบ</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content class="ion-padding ion-text-center" style="  --background: linear-gradient(180deg, #101010, #386262);">

  <div>
    <img src="assets\img1\ddd.png">
  </div>


  <div class="form">
    <ion-item lines="none">
      <ion-input placeholder='Enter ID'></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input placeholder='Password' type='password'></ion-input>
    </ion-item>

    <ion-button color='dark' expand='blok' (click)="gototab1page()">Login</ion-button>
  </div>

</ion-content>
