.font{
  font-style: inherit;
  font-size: 15px;
  // text-align: center;
  // display: flex;
  // align-items: center;
  width: 100%;
  // background:rgb(248, 248, 247);
  // margin: 5px;
}
ion-card-content ion-label p{
  color: rgb(9, 9, 9);
}
