.font{
  text-align: center;
  background:rgb(252, 253, 251) ;
  color: rgb(6, 6, 6);

  // border-radius: 100px;
}
// .but{
//   color: aliceblue;
//     border-radius: 100px;
// }
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

ion-content {
  // --background: linear-gradient(180deg, #afb2b3, #2d2f2f);
  --background: linear-gradient(180deg, #101010, #386262);
}
// ion-card{
//   --background: #f7f7f758;
// }

// ion-toolbar {
//   --background: #09606E;
//   --color: #ffffff;
// }
// .u{
//   background: rgb(87, 183, 102);
// }
// .u:hover{
//   background: rgb(152, 252, 167);
// }
// .w{
//   background: rgb(255, 255, 255);
// }
// .w:hover{
//   background: rgb(215, 215, 215);
// }
// .s{
//   background: rgb(94, 243, 243);
// }
// .s:hover{
//   background: rgb(90, 179, 238);
// }
