.but{
  border-radius: 100px;
  margin-top: 10%;
  ion-item{
    border-radius: 100px;
    border-color: rgb(201,201,201);
    border-width: 20px;
    // border-style: solid;
    margin-bottom: 10px;
}
}
