<ion-header>
  <ion-toolbar style="--background: black;">
    <ion-title style="color: white;">เปลี่ยนรหัสผ่าน</ion-title>
    <ion-buttons slot="start" (click)="gotoTab4Page()">
      <ion-icon style="color: white;" size="large" name="arrow-back-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" style="  --background: linear-gradient(180deg, #101010, #386262);">


  <div>
    <img src="assets\img1\logon.png" width="200" height="200">
  </div>


  <div class="but">
    <ion-item lines="none">
      <ion-input placeholder='รหัสผ่านเก่า'></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input placeholder='รหัสผ่านใหม่' type='password'></ion-input>
    </ion-item>

    <ion-item lines="none" style="margin-top:10px ;">
      <ion-input placeholder='ยื่นยันรหัสผ่าน' type='password'></ion-input>
    </ion-item>

    <ion-button style="margin-top : 10px;" (click)="gotoTab4Page()">ยื่นยัน</ion-button>

    <!-- <ion-button color='dark' expand='blok' (click)="gototab1page()">Login</ion-button> -->
  </div>

</ion-content>
